# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log

# IDE files (VS Code, PyCharm, etc.)
.vscode/
.idea/
